body {
	background-color: #f5f5f5;
}

div.banner {
	background-repeat: repeat-x;
	background-position: center;
	display: flex;
	flex-direction: column;
	height: 100px;
	justify-content: center;
	width: 100%;
}

@media screen and (max-width: 700px) {
	div.banner {
		height: 70px;
	}
}

div.wrapper {
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: space-between;
	margin: auto;
	margin-top: 40px;
	position: relative;
	width: 1070px;
}

div.wrapper div.content {
	background-color: white;
	border-radius: 3px;
	box-sizing: border-box;
	height: auto;
	padding: 20px 30px;
	position: relative;
	width: 750px;
}

div.wrapper div.content h2.title {
	color: #333333;
	font-size: 25px;
}

div.wrapper div.content p.date {
	color: #555555;
	font-family: "Open Sans";
	font-size: 14px;
	margin-bottom: 3px;
}

div.wrapper div.content p.category {
	background-color: royalblue;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: 13px;
	padding: 3px 6px;
	transition: 0.2s;
}

div.wrapper div.content p.category:hover {
	background-color: rgb(24, 65, 189);
}

div.wrapper div.content img {
	width: 100%;
}

div.wrapper div.content iframe {
	height: 500px;
	width: 100%;
}

div.wrapper div.content p.description {
	color: #444444;
	font-family: "Open Sans";
	font-size: 15px;
	margin-top: 20px;
}

div.wrapper div.more {
	align-self: flex-start;
	background-color: white;
	border-radius: 3px;
	box-sizing: border-box;
	height: auto;
	padding: 20px;
	position: sticky;
	top: 80px;
	width: 300px;
}

div.wrapper div.more h2.title {
	color: #444444;
	font-family: "Nunito";
	font-size: 18px;
}

div.wrapper div.more a {
	color: #444444;
	display: block;
	font-size: 15px;
	padding: 2px 0;
}

div.wrapper div.more a:hover {
	color: teal;
}

@media screen and (max-width: 1150px) {
	div.wrapper {
		width: 900px;
	}

	div.wrapper div.content {
		width: 630px;
	}

	div.wrapper div.more {
		width: 250px;
	}
}

@media screen and (max-width: 950px) {
	body {
		background-color: white;
	}
	div.wrapper {
		display: block;
		margin-top: 20px;
		width: 95%;
	}

	div.wrapper div.content {
		padding: 15px;
		width: 100%;
	}

	div.wrapper div.content h2.title {
		font-size: 20px;
	}

	div.wrapper div.content p.date {
		font-size: 12px;
	}

	div.wrapper div.content p.category {
		font-size: 12px;
		padding: 2px 4px;
	}

	div.wrapper div.content p.description {
		font-size: 14px;
	}

	div.wrapper div.more {
		display: none;
	}
}
