div.banner {
	background-image: url(../images/bg/banner.jpg);
	background-repeat: repeat-x;
	display: flex;
	flex-direction: column;
	height: 250px;
	justify-content: center;
	width: 100%;
}

div.banner h2 {
	color: white;
	line-height: 45px;
	text-shadow: 1px 7px 20px rgba(0, 0, 0, 0.1);
}

div.wrapper {
	height: 1000px;
	margin: auto;
	margin-top: 40px;
	width: 1100px;
}

div.wrapper h2.title {
	font-family: "Nunito";
	font-size: 20px;
	padding: 0 10px;
}

div.wrapper div.main {
	height: 100px;
	margin-top: 15px;
	width: 100%;
}

div.wrapper div.main div.item {
	background-color: white;
	cursor: pointer;
	height: auto;
	float: left;
	margin: 0 10px;
	margin-bottom: 20px;
	position: relative;
	transition: 0.2s;
	width: 200px;
}

div.wrapper div.main div.item:hover {
	transform: translate(0, -2px);
	box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.1);
}

div.wrapper div.main div.item div.thumb img {
	height: 160px;
	object-fit: cover;
	position: relative;
	width: 100%;
}

div.wrapper div.main div.item div.text {
	box-sizing: border-box;
	padding: 15px;
}

div.wrapper div.main div.item:hover div.text h3.name {
	color: darkblue;
}

div.wrapper div.main div.item div.text h3.name {
	color: #333333;
	font-size: 15px;
}

div.wrapper div.main div.item div.text span.category {
	background-color: palevioletred;
	border-radius: 3px;
	color: white;
	font-size: "Open Sans";
	font-size: 12px;
	padding: 3px 7px;
}
